body {
	padding: 50px;
	background: #CCD4FF;
	color: #f3e2ff;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    color: #FFE81C;
    font-size: 40px;
}

h2 {	
    font-family: 'Macondo Swash Caps';
    color: #96E5FF;
    font-size: 30px;
}

p {
	font-size: 26px;
	font-family: 'Lato';
	margin-bottom: 0;
	color: #fab7ff;
}

h3 {	
    font-family: 'Marck Script', cursive;
    color: #FFE81C;
    font-size: 30px;
}

div {
	background: #062538;
	margin: 0 auto;
	width: 760px;
	padding: 20px;
}

img{
	margin-bottom: 50;
}

a {
	color: #ffe81c;
	font-size: 30px;
	font-family:'Macondo Swash Caps';
}
